$first-line-height: 24vh;
$firt-line-bottom:3vh;
$second-column-width: 30vw;
$second-column-margin: 3vw;
$border-style: 2px solid var(--deeper-white);

.container {
  box-sizing: border-box;
  border-top: $border-style;
  height: 120vh;
  width: 100%;
  display: flex;
  .aside {
    box-sizing: border-box;
    height: 100%;
    width: var(--main-left);
    border-right: $border-style;

    .title-cn {
      box-sizing: border-box;
      height: $first-line-height;
      border-bottom: $border-style;
    }
  }

  .content {
    box-sizing: border-box;
    height: 100%;
    width: calc(100vw - var(--main-left));
    display: flex;
    flex-direction: column;

    // 复用样式区域
    .line {
      box-sizing: border-box;
      border-bottom: $border-style;
    }

    .second-column {
      height: 100%;
      width: $second-column-width;
      border-right: $border-style;
    }

    // 用于伪元素的复用样式
    .protuberance {
      content: "";
      position: absolute;
      //祖先元素中非static定位的是最外面的container，所以相对它定位
      left: calc(var(--main-left) - 4vw);
      //边框的厚度
      transform: translateY(-2px);
      width: 4vw;
      height: 2px;
      background-color: var(--deeper-white);
    }
    // end

    .first-line {
      @extend .line;
      height: $first-line-height;
      position:relative;
      .title-en {
        @extend .second-column;
        .svg-introduction{
          position: absolute;
          bottom:$firt-line-bottom;
          left:$second-column-margin;
        }
      }
    }

    .second-line {
      @extend .line;
      height: 55vh;
      .picture {
        @extend .second-column;
        display: flex;
        align-items: center;
        position:relative;
        .svg-picture{
          position: absolute;
          left:$second-column-margin;
          //height:90%;
        }
      }
    }

    .third-line {
      @extend .line;
      height: 5vh;
      &::before {
        @extend .protuberance;
      }
    }

    .fourth-line {
      width:100%;
      height:calc(120vh - $first-line-height - 60vh);
      &::before {
        @extend .protuberance;
      }
    }
  }
}
