@import "@styles/variables.scss";

$border-style: 2px solid var(--deeper-white);
$access-first-line-height:15vh;
$access-second-line-height:15vh;

.access-container {
  box-sizing: border-box;
  height: 45vh;
  width: 100%;
  display: flex;
  .aside {
    box-sizing: border-box;
    height: 100%;
    width: var(--main-left);
    border-right: $border-style;
    display: flex;
    flex-direction: column;
    position: relative;
    .title-cn {
      box-sizing: border-box;
      height: $access-first-line-height;
      border-bottom: $border-style;
      position: relative;
      .title-content {
        @extend #{$small-title-cn};
      }
    }
    .contact-contanier{
      box-sizing: border-box;
      width: 100%;
      border-bottom: $border-style;
      position: relative;
      height:$access-second-line-height;
    }
    
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100vw - var(--main-left));
    .line{
      box-sizing: border-box;
      width: 100%;
      border-bottom: $border-style;
      position: relative;
    }
    .first-line {
      @extend .line;
      height: $access-first-line-height;
      .svg-access {
        position: absolute;
        bottom: var(--first-line-bottom);
        left: var(--second-column-margin);
      }
    }
    .second-line{
      @extend .line;
      height:$access-second-line-height;
    }
  }
}