.topbar-container{
  position: fixed;
  height: var(--topbar-height);
  width: 100%;
  border-bottom:2px solid var(--deeper-white);
  background-color: var(--bg-black);
  display: flex;
  align-items: center;
  z-index:99;

  .uniquestudio{
    margin-left:var(--topbar-margin-left);
    max-width: 40vw;
  }
  

  .list{
    position:absolute;
    right:var(--topbar-margin-right);
    cursor: pointer;
    max-width: 8vw;
  }
}