@import "@styles/variables.scss";

$border-style: 2px solid var(--deeper-white);
$first-line-height: 40vh;

.container {
  box-sizing: border-box;
  border-top: $border-style;
  border-bottom: $border-style;
  height: 100vh;
  width: 100%;
  display: flex;
  .aside {
    box-sizing: border-box;
    height: 100%;
    width: var(--main-left);
    border-right: $border-style;
    display: flex;
    flex-direction: column;
    position:relative;

    .title-cn {
      box-sizing: border-box;
      height: $first-line-height;
      border-bottom: $border-style;
      position: relative;
      .title-content {
        @extend #{$small-title-cn};
      }
    }

    .small-word {
      width: 100%;
      box-sizing: border-box;
      color: var(--deeper-white);
      font-family: "NanumGothic";
      font-size: 1.3rem;
      line-height: 2.1rem;
      height:55vh;
      border-bottom: $border-style;
      ol {
        padding-inline-start: 25px;
      }

      .small-word-content {
        margin-left: var(--topbar-margin-left);
        // 相对于aside定位
        position:absolute;
        bottom:10vh;
        
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100vw - var(--main-left));
    .line{
      box-sizing: border-box;
      border-bottom: $border-style;  
      width:100%;
    }
    .first-line{
      @extend .line;
      height:25vh;
      color:var(--deeper-white);
      font-family: "PingFang SC";
      display: flex;

      .item{
        flex:1;
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }

      .time{
        @extend .item;
        border-right:$border-style;
      }

      .location{
        @extend .item;
        border-right:$border-style;
      }

      .candidate{
        @extend .item;
      }
    }
    .second-line{
      @extend .line;
      height:calc($first-line-height - 25vh);
      position: relative;
      .svg-theme{
        position:absolute;
        bottom:var(--first-line-bottom);
        left:var(--second-column-margin);
      }
    }
    .third-line{
      @extend .line;
      height:55vh;
      position:relative;
      .theme-img{
        position:absolute;
        left:var(--second-column-margin);
        top:50%;
        transform: translateY(-50%);
        max-width:25vw;
      }
    }
  }
}
