@import '@styles/variables.scss';

$first-line-height: 12vh;
$second-line-height: 52vh;
$border-style: 2px solid var(--deeper-white);
$line-margin-top: 3vh;

.awards-container {
  height: 100vh;
  position: relative;

  .fake-topbar {
    height: var(--topbar-height);
    box-sizing: border-box;
    border-top: $border-style;
    .fake-aside{
      width:var(--main-left);
      height: 100%;
      box-sizing: border-box;
      border-right: $border-style;
    }
  }

  // 底部三张图片的公共类
  .awards-picture {
    position: absolute;
    bottom:5vh;
  }
  .awards-picture-1{
    left:var(--topbar-margin-left);
    max-width: calc(var(--main-left) - var(--topbar-margin-left) - 2vw);
  }
  .awards-picture-2{
    left:calc(var(--main-left) + var(--topbar-margin-left));
    max-width:35vw;
  }
  .awards-picture-3{
    right:var(--topbar-margin-right);
    max-width:20vw;
  }

  .container {
    box-sizing: border-box;
    height: calc(100vh - var(--topbar-height));
    width: 100%;
    display: flex;

    // 内容文字的公共类
    .big-name {
      @extend #{$big-title};
      padding-top: 3vh;
    }

    .middle-name {
      @extend #{$middle-title};
      padding-bottom: 1.5vh;
    }

    .aside {
      box-sizing: border-box;
      height: 100%;
      width: var(--main-left);
      border-right: $border-style;

      .title-cn {
        box-sizing: border-box;
        height: $first-line-height;
        border-bottom: $border-style;
        position: relative;

        .title-content {
          @extend #{$small-title-cn};
        }
      }

      .awards-items {
        margin-top: 3vh;
        &>div {
          margin-left: var(--topbar-margin-left);
        }
      }
    }

    .content {
      box-sizing: border-box;
      height: 100%;
      width: calc(100vw - var(--main-left));
      display: flex;
      flex-direction: column;

      // 复用样式区域
      .line {
        box-sizing: border-box;
        border-bottom: $border-style;
      }

      .first-line {
        @extend .line;
        height: $first-line-height;
        position: relative;
        display: flex;

        .svg-awards {
          position: absolute;
          bottom: var(--first-line-bottom);
          // 由于设计稿的改版，这里的second-column-margin只在Introduction页面有效，其余页面left的值与topbar-margin-left相同
          // left: var(--second-column-margin);
          left: var(--topbar-margin-left);
        }
      }

      .second-line {
        &>div {
          margin-left: var(--topbar-margin-left);
        }

        .awards-en-items {
          margin-right: var(--topbar-margin-right);
          margin-top: 3vh;

          .awards-en-item {
            display: flex;
            justify-content: space-between;
            color: var(--light-white);
            font-family: 'NanumGothic';
            font-style: normal;
            font-size: 1.75rem;
            line-height: 1.75rem;
            letter-spacing: 0.125em;
            padding-top: 3vh;
          }
        }
      }

    }
  }
}