@font-face {
  font-family: "PingFang SC";
  src: url(./assets/font/PingFang-SC-Regular.ttf);
}

@font-face {
  font-family: "NanumGothic";
  src: url(./assets/font/NanumGothic-Regular.ttf);
}


$deeper-white:#D4E2E1;
$light-white:#EEEFF1;
$bg-black:#171719;
$main:#48E4D1;

$topbar-margin-left:7vw;
$topbar-margin-right:8vw;
$topbar-height:106px;
$main-left:23vw;
$second-column-margin: 3vw;
$first-line-bottom:3vh;

// 突出线条的突出长度
$protuberance:4vw;

:root {
  --deeper-white:#{$deeper-white};
  --light-white:#{$light-white};
  --bg-black:#{$bg-black};
  --main:#{$main};

  --topbar-margin-left:#{$topbar-margin-left};
  --topbar-margin-right:#{$topbar-margin-right};
  --topbar-height:#{$topbar-height};
  --main-left:#{$main-left};
  --second-column-margin:#{$second-column-margin};
  --first-line-bottom:#{$first-line-bottom};

  --protuberance:#{$protuberance};
}


.h-container{
  background-color: $bg-black;
  position: absolute;
  width:100vw;
}