@import '@styles/variables.scss';

$first-line-height: 12vh;
$border-style: 2px solid var(--deeper-white);
$line-margin-top:5vh;

.awards-container {
  height: 100vh;

  .fake-topbar {
    height: var(--topbar-height);
    box-sizing: border-box;
    border-top: $border-style;
    .fake-aside{
      width:var(--main-left);
      height: 100%;
      box-sizing: border-box;
      border-right: $border-style;
    }
  }

  .container {
    box-sizing: border-box;
    height: calc(100vh - var(--topbar-height));
    width: 100%;
    display: flex;

    .aside {
      box-sizing: border-box;
      height: 100%;
      width: var(--main-left);
      border-right: $border-style;

      .title-cn {
        box-sizing: border-box;
        height: $first-line-height;
        border-bottom: $border-style;
        position: relative;

        .title-content {
          @extend #{$small-title-cn};
        }
      }
      .mail-container{
        margin-top:$line-margin-top;
        margin-left:var(--topbar-margin-left);
        
        &>img{
          max-width: calc(var(--main-left) - var(--topbar-margin-left) - 2vw);
        }
        .mail-text{
         color:var(--light-white); 
         font-family: 'NanumGothic';
         font-size: 1.3rem;
         display: block;
         width:min(230px,calc(var(--main-left) - var(--topbar-margin-left) - 2vw));
         margin-top:1.1vh;
         // mailto协议的特殊之处，用white-space属性实现换行是无效的
         word-wrap: break-word;
        }
      }
    }

    .content {
      box-sizing: border-box;
      height: 100%;
      width: calc(100vw - var(--main-left));
      display: flex;
      flex-direction: column;

      // 复用样式区域
      .line {
        box-sizing: border-box;
        border-bottom: $border-style;
      }

      .first-line {
        @extend .line;
        height: $first-line-height;
        position: relative;
        display: flex;

        .svg-access {
          position: absolute;
          bottom: var(--first-line-bottom);
          // 由于设计稿的改版，这里的second-column-margin只在Introduction页面有效，其余页面left的值与topbar-margin-left相同
          // left: var(--second-column-margin);
          left: var(--topbar-margin-left);
        }
      }

      .second-line {
        &>div{
          margin-left:var(--topbar-margin-left);
        }
        .access-picture-2{
          position: relative;
          margin-top:$line-margin-top;
          margin-bottom:2.5vh;
          left:var(--topbar-margin-left);
          width:calc(100vw - var(--main-left) - var(--topbar-margin-left) - var(--topbar-margin-right));
          max-height: calc(100vh - var(--topbar-height) - $first-line-height - $line-margin-top - 12vh);
        }
        .access-contact-text{
          font-family: "PinFang SC";
          font-size: 1.5rem;
          line-height: 2.3rem;
          letter-spacing: 0.15rem;
          color:var(--light-white);
        }
      }

    }
  }
}